<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <div class="container">
  <head>
    <title>CoronaVirus Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <body>
  <h1>CoronaVirus Tracker</h1>
  <p>This Application shows the Covid-19 cases all over the world</p>
  <div class="jumbotron">
  <h1 class="display-4" th:text="${totalReportedCases}"></h1>
  <p class="lead">Total Cases Reported</p>
  <hr class="my-4">
  <p>
  <span>Cases Reported since yesterday</span>
  <span th:text="${totalDiffCases}"></span>
  </p>
</div>
  
        <table class="table">
      <tr>
        <th>Country</th>
        <th>State</th>
        <th>Cases</th>
        <th>Changes Since Last Day</th>
      </tr>
      <tr th:each="status : ${locationStats}">
        <td th:text="${status.country}"></td>
        <td th:text="${status.state}"></td>
        <td th:text="${status.latestCases}">0</td>
        <td th:text="${status.previousDayCases}">0</td>
      </tr>
    </table>
  </div>
  </body>

</html>